name: Keep Workflow Alive

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  actions: write
  checks: write

jobs:
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - name: Keep Workflow Alive
        uses: darktohka/keepalive-workflow@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
